body{
    background-color: rgb(223, 229, 236);
}
.fbn{
    font-size: 6em;
    font-weight: bold;
    color: rgb(31 96 214);
    transform: translate(19%, 204%);
    font-family: times, "Times New Roman",
}

.fbp{
    font-size: 2em;
    font-family: times, "Times New Roman";
    transform: translate(19%, 300%);
}

.fbform{
    background-color: white;
    width: 500px;
    height: 450px;
    position: relative;
    left: 52%;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    overflow: hidden;
}

.fbform input[type="text"] {
    border-radius: 6px;
    border: 1px solid rgb(204, 203, 203);
    box-shadow: 0 0 2px gray;
    position: relative;
    left: 15px;
    top: 25px;
    width: 95%;
    height:60px;
    color: rgb(5, 5, 5);
    font-size: 16px;
}

.fbform input[placeholder]{
    font-size: 1.5em;
    text-align: center;    
}

.fbform input[type="password"]{
    border-radius: 6px;
    border: 1px solid rgb(204, 203, 203);
    box-shadow: 0 0 2px gray;
    margin-top: 30px;
    position: relative;
    left: 15px;
    top: 15px;
    width: 95%;
    height:60px;
    color: rgb(5, 5, 5);
    font-size: 16px;
}

.fbform input[placeholder]{
    font-size: 1.5em;
    text-align: center;    
}

.fbform input[type="text"]:hover {/*Problem focus*/
    border-color: rgb(103, 179, 230); 
}

.fbform input[type="password"]:hover {/*Problem focus*/
    border-color: rgb(103, 179, 230); 
}

.fbform input[type="submit"]{
    border-radius: 6px;
    border: 0;
    background-color: #1877f2;
    margin-top: 30px;
    position: relative;
    left: 15px;
    top: 15px;
    width: 95%;
    height:60px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}

.fbform input[type="submit"]:hover{
    background-color: rgb(66, 93, 248);
    
}
.fbform a{
    color: #1877f2;
    position: relative;
    left: 159px;
    top: 50px;
    font-size: 1.5em;
    text-decoration: none;
}
.lin {
    position: relative;
    top: 50px;
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
